*.pyc
*.fits
*.egg-info/
config.json
.DS_Store
.idea
.coverage*
build/
dist/
jwql.egg-info/
docs/build/
docs/source/api/
.cache
*.pytest_cache
htmlcov/
*.sqlite3
*.ipynb_checkpoints
git
pastasoss/pastasoss.py
*_v3*.yml 
misc/*
pastasoss/data/*.fits
pastasoss/data/*.csv
pastasoss/data/*.pkl
notebooks/test_*.ipynb
.vscode/
*.yml


!/pastasoss/data/jwst_niriss_spectrace_template.fits
!/pastasoss/data/jwst_niriss_wavemap_template.fits